@import 'vendors/unit';
@import "vendors/bootstrap/functions";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import "bootstrap-custom";
@import 'base/functions';
@import 'base/mixins';
@import 'vendors/icomoon';
@import 'base/helpers';

@import 'layout/header';
@import 'layout/common';
@import 'layout/footer';

/* body styles */
body {
	min-width: $base-min-width;
}

/* main wrapper styles */
#wrapper{
  position: relative;
  width:100%;
  overflow: hidden;
}

/* default link animation */
a{
	@extend %transition;
}


//* CSS arrow -----------------------------------------------------------------------------------------*/
// .arrow {
// 	background: $white;
// 	margin-left: 5px;
//   height: 2px;
//   width: 15px;
//   position: relative;
// 	cursor: pointer;
// 	transform: rotate(-45deg);

// 	&:before{
// 		content: '';
//     position: absolute;
//     border: solid #fff;
//     border-width: 2px 2px 0 0;
//     width: 11px;
//     height: 11px;
//     right: 0px;
//     top: -4px;
//     transform: rotate(45deg);
// 	}
// }

