{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "at-rule-empty-line-before": null,
    "block-opening-brace-space-before": null,
    "block-opening-brace-space-after": null,
    "block-closing-brace-newline-after": null,
    "custom-property-empty-line-before": null,
    "function-comma-space-after": null,
    "declaration-colon-newline-after": null,
    "declaration-empty-line-before": null,
    "function-name-case": null,
    "block-no-empty": null,
    "no-descending-specificity": null,
    "value-list-comma-newline-after": null,
    "font-family-no-missing-generic-family-keyword": null,
    "value-keyword-case": null,
    "function-whitespace-after": null,
    "string-quotes": "single",
    "indentation": null,
    "no-duplicate-selectors": true,
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "selector-combinator-space-after": "always",
    "declaration-no-important": null,
    "declaration-colon-space-after": "always",
    "number-leading-zero": "always",
    "font-weight-notation": "named-where-possible",
    "comment-whitespace-inside": "always",
    "comment-empty-line-before": null,
    "rule-empty-line-before": null,
    "selector-pseudo-element-colon-notation": null,
    "selector-pseudo-class-parentheses-space-inside": "never",
    "media-feature-range-operator-space-before": "always",
    "media-feature-range-operator-space-after": "always",
    "function-linear-gradient-no-nonstandard-direction": null,
    "length-zero-no-unit": null
  }
}
