//
// Base styles

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  min-height: $btn-standard-hight;
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x,
    $btn-font-size,
    $btn-line-height,
    $btn-border-radius
  );
  @include transition($btn-transition);

  @include hover() {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled) {
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

    &:active,
    &.active {
      @include box-shadow($btn-active-box-shadow);

      &:focus {
        @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
      }
    }
  }

  &__primary {
    //color: var(--dark);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
      color: var(--white);
      background-color: var(--primary);
      border-color: #f16215;
    }

    &:focus,
    .focus {
      color: var(--white);
      background-color: var(--primary);
      border-color: var(--primary);
      box-shadow: 0 0 0 0.2rem rgba(212, 116, 65, 0.5);
    }

    .disabled,
    :disabled {
      color: var(--dark);
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }

  &__secondary {
    //color: var(--dark);
    background-color: var(--secondary);
    border-color: var(--secondary);

    &:hover {
      color: var(--white);
      background-color: #5d5d5d;
      border-color: #575757;
    }

    &:focus,
    .focus {
      color: var(--white);
      background-color: #5d5d5d;
      border-color: #575757;
      box-shadow: 0 0 0 0.2rem rgba(133, 133, 133, 0.5);
    }

    .disabled,
    :disabled {
      color: var(--white);
      background-color: var(--secondary);
      border-color: var(--secondary);
    }
  }

  &__success {
    //color: var(--white);
    background-color: var(--success);
    border-color: var(--success);

    &:hover {
      color: var(--white);
      background-color: #2b8b40;
      border-color: #28813b;
    }

    &:focus,
    .focus {
      color: var(--white);
      background-color: #2b8b40;
      border-color: #28813b;
      box-shadow: 0 0 0 0.2rem rgba(82, 181, 104, 0.5);
    }

    .disabled,
    :disabled {
      color: var(--white);
      background-color: var(--success);
      border-color: var(--success);
    }
  }

  &__info {
    //color: var(--dark);
    background-color: var(--info);
    border-color: var(--info);

    &:hover {
      color: var(--dark);
      background-color: #48becd;
      border-color: #3ebbca;
    }

    &:focus,
    .focus {
      color: var(--dark);
      background-color: #48becd;
      border-color: #3ebbca;
      box-shadow: 0 0 0 0.2rem rgba(92, 176, 187, 0.5);
    }

    .disabled,
    :disabled {
      color: var(--dark);
      background-color: var(--info);
      border-color: var(--info);
    }
  }

  &__warning {
    //color: var(--dark);
    background-color: var(--warning);
    border-color: var(--warning);

    &:hover {
      color: var(--dark);
      background-color: #fbc308;
      border-color: #f4bc03;
    }

    &:focus,
    .focus {
      color: var(--dark);
      background-color: #fbc308;
      border-color: #f4bc03;
      box-shadow: 0 0 0 0.2rem rgba(219, 179, 45, 0.5);
    }

    .disabled,
    :disabled {
      color: var(--dark);
      background-color: var(--warning);
      border-color: var(--warning);
    }
  }

  &__danger {
    //color: var(--white);
    background-color: var(--danger);
    border-color: var(--danger);

    &:hover {
      color: var(--white);
      background-color: #c82333;
      border-color: #bd2130;
    }

    &:focus,
    .focus {
      color: var(--white);
      background-color: #c82333;
      border-color: #bd2130;
      box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
    }

    .disabled,
    :disabled {
      color: var(--white);
      background-color: var(--danger);
      border-color: var(--danger);
    }
  }

  &__light {
    color: var(--dark);
    background-color: var(--light);
    border-color: var(--light);

    &:hover {
      color: var(--dark);
      background-color: #d2d2d2;
      border-color: #ccc;
    }

    &:focus,
    .focus {
      color: var(--dark);
      background-color: #d2d2d2;
      border-color: #ccc;
      box-shadow: 0 0 0 0.2rem rgba(200, 200, 201, 0.5);
    }

    .disabled,
    :disabled {
      color: var(--dark);
      background-color: var(--light);
      border-color: var(--light);
    }
  }

  &__dark {
    color: var(--white);
    background-color: var(--dark);
    border-color: var(--dark);

    &:hover {
      color: var(--white);
      background-color: #101214;
      border-color: #0a0c0d;
    }

    &:focus,
    .focus {
      color: var(--white);
      background-color: #101214;
      border-color: #0a0c0d;
      box-shadow: 0 0 0 0.2rem rgba(66, 70, 73, 0.5);
    }

    .disabled,
    :disabled {
      color: var(--white);
      background-color: var(--dark);
      border-color: var(--dark);
    }
  }

  //Button Utilities
  &__outline {
    background-color: transparent;
    color: var(--dark);
  }

  &--rounded {
    border-radius: $btn-border-radius-rounded !important;
  }

  &--curved {
    border-radius: $btn-border-radius-curved;
  }

  &--link {
    font-weight: $font-weight-normal;
    color: $link-color;
    text-decoration: $link-decoration;

    @include hover() {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }

    &:focus,
    &.focus {
      text-decoration: $link-hover-decoration;
    }

    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
      pointer-events: none;
    }
  }

  &--lg {
    @include button-size(
      $btn-padding-y-lg,
      $btn-padding-x-lg,
      $btn-font-size-lg,
      $btn-line-height,
      $btn-border-radius-lg
    );
  }

  &--sm {
    @include button-size(
      $btn-padding-y-sm,
      $btn-padding-x-sm,
      $btn-font-size-sm,
      $btn-line-height,
      $btn-border-radius-sm
    );
  }

  &__tooltip {
    border-radius: 0;
    border: none;
    padding: 0;
    min-height: auto;
    background-color: transparent;

    &:hover {
      background-color: transparent;
      border: none;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0;
  }

  .btn__text {
    margin: 0 8px;
  }

  i {
    font-style: normal;
    font-size: 1rem;
  }
}

//[class*="icon-"] {
//  padding-right: 8px;
//
//  ~ [class*="icon-"] {
//    padding-left: 8px;
//    padding-right: 0;
//  }
//
//  ~ i {
//    font-style: normal;
//  }
//}

// Disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

// Block button
.btn--block {
  display: block;
  width: 100%;
  // Vertically space out multiple block buttons
  + .btn--block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn--block {
    width: 100%;
  }
}

//@each $color, $value in $theme-colors { //todo : if need to make iteration of classes
//  .btn--#{$color} {
//    background-color: $value;
//    color: var(--light);
//  }
//}
