//// Image Mixins
//// - Responsive image
//// - Retina image
//
//// Responsive image
////
//// Keep images from scaling beyond the width of their parents.
//
//@mixin img-fluid() {
//  // Part 1: Set a maximum relative to the parent
//  max-width: 100%;
//  // Part 2: Override the height to auto, otherwise images will be stretched
//  // when setting a width and height attribute on the img element.
//}
//
//// Retina image
////
//// Short retina mixin for setting background-image and -size.
//
//@mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) {
//  background-image: url($file-1x);
//
//  // Autoprefixer takes care of adding -webkit-min-device-pixel-ratio and -o-min-device-pixel-ratio,
//  // but doesn't convert dppx=>dpi.
//  // There's no such thing as unprefixed min-device-pixel-ratio since it's nonstandard.
//  // Compatibility info: https://caniuse.com/#feat=css-media-resolution
//  @media only screen and (min-resolution: 192dpi),
//    // IE9-11 don't support dppx only screen and (min-resolution: 2dppx) {
//    // Standardized
//    background-image: url($file-2x);
//    background-size: $width-1x $height-1x;
//  }
//  @include deprecate("`img-retina()`", "v4.3.0", "v5");
//}
//
//// Responsive images (ensure images don't scale beyond their parents)
////
//// This is purposefully opt-in via an explicit class rather than being the default for all `<img>`s.
//// We previously tried the "images are responsive by default" approach in designSystem v2,
//// and abandoned it in designSystem v3 because it breaks lots of third-party widgets (including Google Maps)
//// which weren't expecting the images within themselves to be involuntarily resized.
//// See also https://github.com/twbs/designSystem/issues/18178
//.img-fluid {
//  @include img-fluid();
//}
//
//// Image thumbnails
//.img-thumbnail {
//  padding: $thumbnail-padding;
//  background-color: $thumbnail-bg;
//  border: $thumbnail-border-width solid $thumbnail-border-color;
//  @include border-radius($thumbnail-border-radius);
//  @include box-shadow($thumbnail-box-shadow);
//
//  // Keep them at most 100% wide
//  @include img-fluid();
//}
//
////
//// Figures
////
//
//.figure {
//  // Ensures the caption's text aligns with the image.
//  display: inline-block;
//}
//
//.figure-img {
//  margin-bottom: $global-spacer / 2;
//  line-height: 1;
//}
//
//.figure-caption {
//  @include font-size($figure-caption-font-size);
//  color: $figure-caption-color;
//}
