// CSS variables
:root {
  --container-sm: 540px;
  --container-md: 700px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-xxl: 1370px;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  --gutter-width: 30px;
  --global-spacer: 1rem;
}
