.lime-theme {
  // Standard Colors
  --primary: var(--lime);
  --primary-light: var(--lime-light);
  --primary-lighter: var(--lime-lighter);
  --primary-dark: var(--lime-dark);
  --primary-darker: var(--lime-darker);

  --secondary: var(--gray);
  --success: var(--green-dark);
  --info: var(--primary-light);
  --warning: var(--primary-dark);
  --danger: var(--red);
  --light: var(--gray-light);
  --dark: var(--primary-darker);
  --primary-hover: var(--primary-dark);
  --secondary-hover: var(--gray-dark);
  --info-hover: var(--cyan-dark);
  --success-hover: var(--primary-dark);
  --danger-hover: var(--red);
  --warning-hover: var(--primary-dark);
  --light-hover: var(--gray);
  --dark-hover: var(--gray-light);

  .bg--warning {
    color: var(--btn-color) !important;
  }
}
