// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

//Spacing
$input-btn-padding-y: var(--global-spacer);
$input-btn-padding-x: var(--global-spacer-mid);
$input-btn-font-family: var(--font-family-base);
$input-btn-font-size: var(--font-size-base);
$input-btn-line-height: 1;
$input-btn-focus-width: 0.2rem;
//$input-btn-focus-color: rgba($component-active-bg, 'primary');
$input-btn-focus-color: map_get($theme-colors, primary);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.5rem;
$input-btn-font-size-sm: var(--font-size-sm);
$input-btn-line-height-sm: var(--line-height-sm);
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-font-size-lg: var(--font-size-lg);
$input-btn-line-height-lg: var(--line-height-lg);
$input-btn-border-width: $border-width;

// Buttons
//
// For each of DesignSystem's buttons, define text, background, and border color.

$btn-padding-y: var(--global-spacer);
$btn-padding-x: var(--global-spacer-mid);
$btn-padding-y-sm: var(--global-spacer-tiny);
$btn-padding-x-sm: var(--global-spacer-tiny);
$btn-padding-y-lg: var(--global-spacer);
$btn-padding-x-lg: var(--global-spacer-mid);

$btn-standard-hight: 56px;
$btn-font-family: $input-btn-font-family;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;
$btn-white-space: null; // Set to `nowrap` to prevent text wrapping

$btn-font-size-sm: $input-btn-font-size-sm;
$btn-line-height-sm: $input-btn-line-height-sm;

$btn-font-size-lg: $input-btn-font-size-lg;
$btn-line-height-lg: $input-btn-line-height-lg;
$btn-border-width: $input-btn-border-width;
$btn-font-weight: var(--font-weight-bold);
$btn-box-shadow: inset 0 1px 0 rgba(var(--white), 0.15),
  0 1px 1px rgba(var(--dark), 0.075);
$btn-focus-width: $input-btn-focus-width;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;
$btn-disabled-opacity: 0.65;
$btn-active-box-shadow: inset 0 3px 5px rgba(var(--dark), 0.125);
$btn-link-disabled-color: var(--gray);
$btn-block-spacing-y: 0.5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius-none;
$btn-border-radius-curved: 8px;
$btn-border-radius-rounded: 50px;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

// Button sizes
@mixin button-size(
  $padding-y,
  $padding-x,
  $font-size,
  $line-height,
  $border-radius
) {
  padding: $padding-y $padding-x;
  @include font-size($font-size);
  line-height: $line-height;
  @include border-radius($border-radius, 0);
}
