///////////////////////// Variables////////////////////////////////////
$white: #fff;
$gray: #707070;
$gray-light: #e5e5e5;
$gray-lighter: #f4f4f4;
$gray-dark: #212529;
$black: #282828;

$orange: #f48245;
$orange-lighter: #fef3ec;
$orange-light: #f9c0a2;
$orange-dark: #c36837;
$orange-darker: #311a0e;

$blue: #55a2d9;
$blue-lighter: #eef6fb;
$blue-light: #bbdaf0;
$blue-dark: #336182;
$blue-darker: #11202b;

$lemon: #fccc2e;
$lemon-lighter: #fffaea;
$lemon-light: #feebab;
$lemon-dark: #977a1c;
$lemon-darker: #322909;

$lime: #c4d93c;
$lime-lighter: #f9fbec;
$lime-light: #e7f0b1;
$lime-dark: #768224;
$lime-darker: #272b0c;

$cyan: #66c9d5;
$cyan-lighter: #f0fafb;
$cyan-light: #c2e9ee;
$cyan-dark: #3d7980;
$cyan-darker: #14282b;

$navy: #2874a4;
$navy-lighter: #eaf1f6;
$navy-light: #a9c7db;
$navy-dark: #184662;
$navy-darker: #081721;

$red: #dc3545;
$green: #34a84d;

$primary: $orange;
$secondary: $gray;
$success: $green;
$info: $cyan;
$warning: $lemon;
$danger: $red;
$light: $gray-light;
$dark: $gray-dark;

$grays: (
  "100": var(--gray-light),
  "400": var(--gray),
  "900": var(--gray-dark),
);

$colors: (
  "blue": var(--blue),
  "lime": var(--lime),
  "red": var(--red),
  "orange": var(--orange),
  "lemon": var(--lemon),
  "navy": var(--navy),
  "cyan": var(--cyan),
  "white": var(--white),
  "gray": var(--gray),
  "dark": var(--black),
);

$theme-colors: (
  "primary": var(--primary),
  "secondary": var(--secondary),
  "success": var(--success),
  "info": var(--info),
  "warning": var(--warning),
  "danger": var(--danger),
  "light": var(--light),
  "dark": var(--dark),
);
