// Variables Typography

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-family-base: var(--font-family-sans-serif);
  // stylelint-enable value-keyword-case

  --font-size-base: 1rem; // Assumes the browser default, typically `16px`
  --font-size-lg: var(--font-size-base * 1.25);
  --font-size-sm: var(--font-size-base * 0.875);

  --font-weight-lighter: lighter;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: bolder;

  --font-weight-base: var(--font-weight-normal);
  --line-height-base: 1.5;

  --h1-font-size: var(--font-size-base * 3);
  --h2-font-size: var(--font-size-base * 2.5);
  --h3-font-size: var(--font-size-base * 2);
  --h4-font-size: var(--font-size-base * 1.75);
  --h5-font-size: var(--font-size-base * 1.5);
  --h6-font-size: var(--font-size-base * 1.25);

  --headings-margin-bottom: var(--spacer) / 2;
  --headings-font-family: null;
  --headings-font-weight: 500;
  --headings-line-height: 1.2;
  --headings-color: null;

  --display1-size: 6rem;
  --display2-size: 5.5rem;
  --display3-size: 4.5rem;
  --display4-size: 3.5rem;

  --display1-weight: 300;
  --display2-weight: 300;
  --display3-weight: 300;
  --display4-weight: 300;
  --display-line-height: var(--headings-line-height);

  --lead-font-size: var(--font-size-base) * 1.25;
  --lead-font-weight: 300;

  --small-font-size: 80%;

  --text-muted: var(--gray-600);

  --blockquote-small-color: var(--gray-600);
  --blockquote-small-font-size: var(--small-font-size);
  --blockquote-font-size: var(--font-size-base * 1.25);

  --hr-border-color: rgba(--black, 0.1);
  --hr-border-width: var(--border-width);

  --mark-padding: 0.2em;

  --dt-font-weight: var(--font-weight-bold);

  --kbd-box-shadow: inset 0 -0.1rem 0 rgba(--black, 0.25);
  --nested-kbd-font-weight: var(--font-weight-bold);

  --list-inline-padding: 0.5rem;

  --mark-bg: #fcf8e3;

  --hr-margin-y: var(--spacer);
}
