// Utilities
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
inline-flex;
$overflows: auto, hidden;
$positions: static, relative, absolute, fixed, sticky;
$user-selects: all, auto, none;
