.bg-primary {
  background-color: $primary !important;
}
a.bg-primary {
  &:hover {
    background-color: #0062cc !important;
  }
  &:focus {
    background-color: #0062cc !important;
  }
}
button.bg-primary {
  &:hover {
    background-color: #0062cc !important;
  }
  &:focus {
    background-color: #0062cc !important;
  }
}
.bg-secondary {
  background-color: $secondary !important;
}
a.bg-secondary {
  &:hover {
    background-color: #545b62 !important;
  }
  &:focus {
    background-color: #545b62 !important;
  }
}
button.bg-secondary {
  &:hover {
    background-color: #545b62 !important;
  }
  &:focus {
    background-color: #545b62 !important;
  }
}
.bg-success {
  background-color: $success !important;
}
a.bg-success {
  &:hover {
    background-color: #1e7e34 !important;
  }
  &:focus {
    background-color: #1e7e34 !important;
  }
}
button.bg-success {
  &:hover {
    background-color: #1e7e34 !important;
  }
  &:focus {
    background-color: #1e7e34 !important;
  }
}
.bg-info {
  background-color: $info !important;
}
a.bg-info {
  &:hover {
    background-color: #117a8b !important;
  }
  &:focus {
    background-color: #117a8b !important;
  }
}
button.bg-info {
  &:hover {
    background-color: #117a8b !important;
  }
  &:focus {
    background-color: #117a8b !important;
  }
}
.bg-warning {
  background-color: $warning !important;
}
a.bg-warning {
  &:hover {
    background-color: #d39e00 !important;
  }
  &:focus {
    background-color: #d39e00 !important;
  }
}
button.bg-warning {
  &:hover {
    background-color: #d39e00 !important;
  }
  &:focus {
    background-color: #d39e00 !important;
  }
}
.bg-danger {
  background-color: $danger !important;
}
a.bg-danger {
  &:hover {
    background-color: #bd2130 !important;
  }
  &:focus {
    background-color: #bd2130 !important;
  }
}
button.bg-danger {
  &:hover {
    background-color: #bd2130 !important;
  }
  &:focus {
    background-color: #bd2130 !important;
  }
}
.bg-light {
  background-color: $light !important;
}
a.bg-light {
  &:hover {
    background-color: #dae0e5 !important;
  }
  &:focus {
    background-color: #dae0e5 !important;
  }
}
button.bg-light {
  &:hover {
    background-color: #dae0e5 !important;
  }
  &:focus {
    background-color: #dae0e5 !important;
  }
}
.bg-dark {
  background-color: $dark !important;
}
a.bg-dark {
  &:hover {
    background-color: #1d2124 !important;
  }
  &:focus {
    background-color: #1d2124 !important;
  }
}
button.bg-dark {
  &:hover {
    background-color: #1d2124 !important;
  }
  &:focus {
    background-color: #1d2124 !important;
  }
}
.bg-white {
  background-color: $white !important;
}
.bg-transparent {
  background-color: transparent !important;
}
