:root {
   //@each $color, $value in $colors {
   //  --#{$color}: #{$value};
   //}
   //
   //@each $color, $value in $color-variants {
   //  --#{$color}: #{$value};
   //}
   //
   //@each $color, $value in $theme-colors {
   //  --#{$color}: #{$value};
   //}

   @each $bp, $value in $grid-breakpoints {
      --breakpoint-#{$bp}: #{$value};
   }
}
