.btns-switcher-holder {
  max-width: 68px;
  .default {
    width: 68px;
    height: 68px;
    min-width: auto;
    color: #2a2a2a;
    border-radius: 50%;
  }
}
.theme-switcher {
  right: 0;
  z-index: 20;
  opacity: 0.85;
  position: fixed;
  border-radius: 3px;
  padding: 15px 15px 7px;
  background-color: var(--primary-light);
  transition: all 0.25s linear;
  --secondary: rgba(69, 69, 69, 0.25);
  --secondary-hover: rgba(76, 74, 74, 0.6);
  &:hover {
    opacity: 1;
    right: 0;
  }
}
