
// Typography
//
// Font, line-height, and color for body text, headings, and more.


$line-height-sm:              1.5;
$line-height-lg:              1.5;
$border-width:                1px;
$border-radius:               .25rem;
$border-radius-lg:            .3rem;
$border-radius-sm:            .2rem;


// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Montserrat', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
$font-family-base:            $font-family-sans-serif ;
// stylelint-enable value-keyword-case

$font-size-base:              1rem ; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 ;
$font-size-sm:                $font-size-base * .875 ;

$font-weight-lighter:         lighter ;
$font-weight-light:           300 ;
$font-weight-normal:          400 ;
$font-weight-bold:            700 ;
$font-weight-bolder:          bolder ;

$font-weight-base:            $font-weight-normal ;
$line-height-base:            1.5 ;

$h1-font-size:                $font-size-base * 2.5 ;
$h2-font-size:                $font-size-base * 2 ;
$h3-font-size:                $font-size-base * 1.75 ;
$h4-font-size:                $font-size-base * 1.5 ;
$h5-font-size:                $font-size-base * 1.25 ;
$h6-font-size:                $font-size-base ;

$spacer: 1rem;
$headings-margin-bottom:      $spacer / 2 ;
$headings-font-family:        $font-family-base ;
$headings-font-weight:        500 ;
$headings-line-height:        1.2 ;
$headings-color:              null ;

$display1-size:               6rem ;
$display2-size:               5.5rem ;
$display3-size:               4.5rem ;
$display4-size:               3.5rem ;

$display1-weight:             300 ;
$display2-weight:             300 ;
$display3-weight:             300 ;
$display4-weight:             300 ;
$display-line-height:         $headings-line-height ;

$lead-font-size:              $font-size-base * 1.25 ;
$lead-font-weight:            300 ;

$small-font-size:             80% ;

$text-muted:                  $gray-600;

$blockquote-small-color:      $gray-600 ;
$blockquote-small-font-size:  $small-font-size ;
$blockquote-font-size:        $font-size-base * 1.25 ;

$hr-border-color:             rgba($black, .1) ;


$mark-padding:                .2em ;

$dt-font-weight:              $font-weight-bold ;

$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) ;
$nested-kbd-font-weight:      $font-weight-bold ;

$list-inline-padding:         .5rem ;

$mark-bg:                     #fcf8e3 ;

$hr-margin-y:                 $spacer ;




// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .5rem ;
$input-btn-padding-x:         .75rem ;
$input-btn-font-family:       null ;
$input-btn-font-size:         $font-size-base ;
$input-btn-line-height:       $line-height-base ;

$input-btn-focus-width:       .2rem ;

//$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color ;

$input-btn-padding-y-sm:      .25rem ;
$input-btn-padding-x-sm:      .5rem ;
$input-btn-font-size-sm:      $font-size-sm ;
$input-btn-line-height-sm:    $line-height-sm ;

$input-btn-padding-y-lg:      .7rem ;
$input-btn-padding-x-lg:      1rem ;
$input-btn-font-size-lg:      $font-size-lg ;
$input-btn-line-height-lg:    $line-height-lg ;

$input-btn-border-width:      $border-width ;


// Buttons
//
// For each of UiDSystem's buttons, define text, background, and border color.

$btn-padding-y:               $input-btn-padding-y ;
$btn-padding-x:               $input-btn-padding-x ;
$btn-font-family:             $input-btn-font-family ;
$btn-font-size:               $input-btn-font-size ;
$btn-line-height:             $input-btn-line-height ;
$btn-white-space:             null ; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm:            $input-btn-padding-y-sm ;
$btn-padding-x-sm:            $input-btn-padding-x-sm ;
$btn-font-size-sm:            $input-btn-font-size-sm ;
$btn-line-height-sm:          $input-btn-line-height-sm ;

$btn-padding-y-lg:            $input-btn-padding-y-lg ;
$btn-padding-x-lg:            $input-btn-padding-x-lg ;
$btn-font-size-lg:            $input-btn-font-size-lg ;
$btn-line-height-lg:          $input-btn-line-height-lg ;

$btn-border-width:            $input-btn-border-width ;

$btn-font-weight:             $font-weight-normal ;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) ;
$btn-focus-width:             $input-btn-focus-width ;
//$btn-focus-box-shadow:        $input-btn-focus-box-shadow ;
$btn-disabled-opacity:        .65 ;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) ;

$btn-link-disabled-color:     $gray-600 ;

$btn-block-spacing-y:         .5rem ;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius ;
$btn-border-radius-lg:        $border-radius-lg ;
$btn-border-radius-sm:        $border-radius-sm ;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out ;




// Forms

$label-margin-bottom:                   .5rem;

$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       $input-btn-padding-x;
$input-font-family:                     $input-btn-font-family;
$input-font-size:                       $input-btn-font-size;
$input-font-weight:                     $font-weight-base;
$input-line-height:                     $input-btn-line-height;

$input-padding-y-sm:                    $input-btn-padding-y-sm;
$input-padding-x-sm:                    $input-btn-padding-x-sm;
$input-font-size-sm:                    $input-btn-font-size-sm;
$input-line-height-sm:                  $input-btn-line-height-sm;

$input-padding-y-lg:                    $input-btn-padding-y-lg;
$input-padding-x-lg:                    $input-btn-padding-x-lg;
$input-font-size-lg:                    $input-btn-font-size-lg;
$input-line-height-lg:                  $input-btn-line-height-lg;

$input-bg:                              $white;
$input-disabled-bg:                     $gray-200;

$input-color:                           $gray-700;
$input-border-color:                    $gray-400;
$input-border-width:                    $input-btn-border-width;
$input-box-shadow:                      0px 2px 4px rgba(0, 0, 0, 0.5);

$input-border-radius:                   $border-radius;
$input-border-radius-lg:                $border-radius-lg;
$input-border-radius-sm:                $border-radius-sm;

$input-focus-bg:                        $input-bg;
$input-focus-border-color:              lighten($component-active-bg, 25%);
$input-focus-color:                     $input-color;
$input-focus-width:                     $input-btn-focus-width;
//$input-focus-box-shadow:                $input-btn-focus-box-shadow;

$input-placeholder-color:               $gray-600;
$input-plaintext-color:                 $body-color;

$input-height-border:                   $input-border-width * 2;

$input-height-inner:                    calc(#{$input-line-height * 1em} + #{$input-padding-y * 2});
$input-height-inner-half:               calc(#{$input-line-height * .5em} + #{$input-padding-y});
$input-height-inner-quarter:            calc(#{$input-line-height * .25em} + #{$input-padding-y / 2});

$input-height:                          40px; //calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
$input-height-sm:                       calc(#{$input-line-height-sm * 1em} + #{$input-btn-padding-y-sm * 2} + #{$input-height-border});
$input-height-lg:                       calc(#{$input-line-height-lg * 1em} + #{$input-btn-padding-y-lg * 2} + #{$input-height-border});

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$form-text-margin-top:                  .25rem;

$form-check-input-gutter:               1.25rem;
$form-check-input-margin-y:             .3rem;
$form-check-input-margin-x:             .25rem;

$form-check-inline-margin-x:            .75rem;
$form-check-inline-input-margin-x:      .3125rem;

$form-grid-gutter-width:                10px;
$form-group-margin-bottom:              1rem;

$input-group-addon-color:               $input-color;
$input-group-addon-bg:                  $gray-200;
$input-group-addon-border-color:        $input-border-color;
