    .tabs-titles{
    list-style: none;
    padding: 0px;
    margin: 0;
  }
  
  .tab-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    color: #c7c6c2;
    cursor: pointer;
    margin-left:1px;
  }

  .tab-title--active {
    background-color: #f5f5f5;
    color: #00070a;
  }
  