<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"/>
    <title>mobileLIVE Design System - Static Components</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>


<body class="dashboard-styling">

<!--theme switcher-->
<div class="theme-switcher">
    <input type="checkbox" id="themeSwitch" name="theme-switch" class="theme-switch__input"/>
    <label for="themeSwitch" class="theme-switch__label">
        <span>Switch Theme</span>
    </label>
</div>

<!--theme switcher-->
<div class="wrapper">


    <!--Sidebar-->
    <module href="/components/sidebarNav.html"></module>
    <!--Sidebar-->


    <!--Header-->
    <main class="main-panel">
        <!-- Navbar -->
        <div class="logo">
            <a c href="javascript:void(0)" class="logo-mini">
                <img class="img-fluid"
                     src="https://images.ctfassets.net/6krz4kg7somr/4rbWt1PlMkYo4wM0AG404E/3f7fd80ac8a62bd48a235d98bc04127e/logo.png"
                     alt="mobileLive">
            </a>
        </div>

        <div class="content">

            <!--Colors-->
            <module href="/components/_partial.colorplatte.html"></module>
            <!--Colors-->

            <hr/>

            <!--Buttons-->
            <module href="/components/_partial.buttons.html"></module>
            <!--Buttons-->

            <hr/>

            <!--Typography-->
            <module href="/components/_partial.typography.html"></module>
            <!--/Typography-->

            <hr/>

            <!--Typography-->
            <module href="/components/_partial.iconogrpahy.html"></module>
            <!--/Typography-->

            <hr/>

            <!--Grids-->
            <div class="my-5" id="Grid_sections">
                <!--<h3 class="h3">Grid</h3>-->
            </div>
        </div>

    </main>
    <!--/Header-->


    <!--Footer-->
    <footer class="footer">
        <div class="container-fluid">

        </div>
    </footer>
    <!--Footer-->

</div>
</body>
</html>
