.login-page {
  background: $white;
  background-size: cover;
  min-height: 100vh;

  #main {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}