.login-page02 {
  min-height: 100vh;

  header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  #main {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}