// Jumbotron

$jumbotron-padding: 1rem;
$jumbotron-color: null;
$jumbotron-bg: var(--light);
$jumbotron-border-color: var(--gray-light);

.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: $jumbotron-padding;
  color: $jumbotron-color;
  //background-color: $jumbotron-bg;
  border: 4px solid var(--primary-lighter);
  @include border-radius(var(--border-radius)-lg);

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 1) $jumbotron-padding;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}
