$white:    #fff;
$black:    #333;
$blue:    #007bff;
$orange:   #EE8045;
$yellow:   #FEE92C;
$green:   #248700;
$purple:   #4B296D;
$label-color:  #666;
$gray-600: #f0f0f0;
$gray-400: #bababa;
$gray-900: #0a0a0a;
$gray-800: #343a40;

$body-bg:  $white;


$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-700: #495057 !default;


$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$red--shade: #ff947c;
$orange:  #fd7e14 !default;
$green:   #28a745 !default;
$green--shade: #46a775;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: ();
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $orange;
$secondary:     $black;
$success:       $green;
$bg-success:    $green--shade;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$bg-danger:     $red--shade;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);
