$link-color:               theme-color("primary");
$input-border-color:       $gray-400;
$border-color:             $gray-400;
$input-padding-y:          .745rem;
$input-padding-x:          .75rem;
$input-height:             calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
$form-group-margin-bottom:       1.5rem;
$label-margin-bottom:           .1rem;
