.m-t-0 {
  margin-top: 0px; }

.p-t-0 {
  padding-top: 0px; }

.m-b-0 {
  margin-bottom: 0px; }

.p-b-0 {
  padding-bottom: 0px; }

.m-l-0 {
  margin-left: 0px; }

.p-l-0 {
  padding-left: 0px; }

.m-r-0 {
  margin-right: 0px; }

.p-r-0 {
  padding-right: 0px; }

.m-t-10 {
  margin-top: 10px; }

.p-t-10 {
  padding-top: 10px; }

.m-b-10 {
  margin-bottom: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.m-l-10 {
  margin-left: 10px; }

.p-l-10 {
  padding-left: 10px; }

.m-r-10 {
  margin-right: 10px; }

.p-r-10 {
  padding-right: 10px; }

.m-t-30 {
  margin-top: 30px; }

.p-t-30 {
  padding-top: 30px; }

.m-b-30 {
  margin-bottom: 30px; }

.p-b-30 {
  padding-bottom: 30px; }

.m-l-30 {
  margin-left: 30px; }

.p-l-30 {
  padding-left: 30px; }

.m-r-30 {
  margin-right: 30px; }

.p-r-30 {
  padding-right: 30px; }

.m-t-50 {
  margin-top: 50px; }

.p-t-50 {
  padding-top: 50px; }

.m-b-50 {
  margin-bottom: 50px; }

.p-b-50 {
  padding-bottom: 50px; }

.m-l-50 {
  margin-left: 50px; }

.p-l-50 {
  padding-left: 50px; }

.m-r-50 {
  margin-right: 50px; }

.p-r-50 {
  padding-right: 50px; }

.m-t-80 {
  margin-top: 80px; }

.p-t-80 {
  padding-top: 80px; }

.m-b-80 {
  margin-bottom: 80px; }

.p-b-80 {
  padding-bottom: 80px; }

.m-l-80 {
  margin-left: 80px; }

.p-l-80 {
  padding-left: 80px; }

.m-r-80 {
  margin-right: 80px; }

.p-r-80 {
  padding-right: 80px; }

.m-t-100 {
  margin-top: 100px; }

.p-t-100 {
  padding-top: 100px; }

.m-b-100 {
  margin-bottom: 100px; }

.p-b-100 {
  padding-bottom: 100px; }

.m-l-100 {
  margin-left: 100px; }

.p-l-100 {
  padding-left: 100px; }

.m-r-100 {
  margin-right: 100px; }

.p-r-100 {
  padding-right: 100px; }

.m-t-150 {
  margin-top: 150px; }

.p-t-150 {
  padding-top: 150px; }

.m-b-150 {
  margin-bottom: 150px; }

.p-b-150 {
  padding-bottom: 150px; }

.m-l-150 {
  margin-left: 150px; }

.p-l-150 {
  padding-left: 150px; }

.m-r-150 {
  margin-right: 150px; }

.p-r-150 {
  padding-right: 150px; }
