$body-bg:                        $white;
$body-color:                     $gray-900;
$link-color:                     $primary;
$input-border-color:             $gray-400;
$border-color:                   $gray-400;
$input-padding-y:                .745rem;
$input-padding-x:                .75rem;
//$input-height:                   40px;
$form-group-margin-bottom:       1.5rem;
$label-margin-bottom:           .1rem;
$component-active-bg:           $primary;