// stylelint-disable property-blacklist, declaration-no-important

//
// Border
//

.border {
    border: var(--border-width) solid var(--border-color) !important;
}
.border-top {
    border-top: var(--border-width) solid var(--border-color) !important;
}
.border-right {
    border-right: var(--border-width) solid var(--border-color) !important;
}
.border-bottom {
    border-bottom: var(--border-width) solid var(--border-color) !important;
}
.border-left {
    border-left: var(--border-width) solid var(--border-color) !important;
}

.border-0 {
    border: 0 !important;
}
.border-top-0 {
    border-top: 0 !important;
}
.border-right-0 {
    border-right: 0 !important;
}
.border-bottom-0 {
    border-bottom: 0 !important;
}
.border-left-0 {
    border-left: 0 !important;
}

@each $color, $value in $theme-colors {
    .border-#{$color} {
        border-color: $value !important;
    }
}

.border-white {
    border-color: var(--white) !important;
}

//
// Border-radius
//

.rounded-sm {
    border-radius: var(--border-radius)-sm !important;
}

.rounded {
    border-radius: var(--border-radius) !important;
}

.rounded-top {
    border-top-left-radius: var(--border-radius) !important;
    border-top-right-radius: var(--border-radius) !important;
}

.rounded-right {
    border-top-right-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
}

.rounded-bottom {
    border-bottom-right-radius: var(--border-radius) !important;
    border-bottom-left-radius: var(--border-radius) !important;
}

.rounded-left {
    border-top-left-radius: var(--border-radius) !important;
    border-bottom-left-radius: var(--border-radius) !important;
}

.rounded-lg {
    border-radius: var(--border-radius)-lg !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-pill {
    border-radius: var(--rounded-pill) !important;
}

.rounded-0 {
    border-radius: 0 !important;
}
