// Inline code
code {
  @include font-size(var(--code-font-size));
  color: var(--kbd-color);
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

// User input typically entered via keyboard
kbd {
  padding: var(--kbd-padding-y) var(--kbd-padding-x);
  @include font-size(var(--kbd-font-size));
  color: var(--kbd-color);
  background-color: var(--kbd-bg);
  @include border-radius(var(--border-radius)-sm);
  @include box-shadow($kbd-box-shadow);

  kbd {
    padding: 0;
    @include font-size(100%);
    font-weight: $nested-kbd-font-weight;
    @include box-shadow(none);
  }
}

// Blocks of code
pre {
  display: block;
  @include font-size(var(--code-font-size));
  color: var(--pre-color);

  // Account for some code outputs that place code tags in pre tags
  code {
    @include font-size(inherit);
    color: inherit;
    word-break: normal;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: var(--pre-scrollable-max-height);
  overflow-y: scroll;
}
