// Width and height

// We will use u-* on the start of the spacing class as which will exhibit it as utility

// It will output Following class
// w-25, h-25,
// w-50, h-50,
// w-75, h-75,
// w-75, h-75,
// small,
// mid,
// large,
// xlarge
@each $prop, $abbrev in (width: w, height: h) {
   @each $size, $length in $sizes {
      .u-#{$abbrev}-#{$size} {
         #{$prop}: $length !important;
      }
   }
}

.mw-100 {
   max-width: 100% !important;
}
.mh-100 {
   max-height: 100% !important;
}

// Viewport additional helpers

.min-vw-100 {
   min-width: 100vw !important;
}
.min-vh-100 {
   min-height: 100vh !important;
}

.vw-100 {
   width: 100vw !important;
}
.vh-100 {
   height: 100vh !important;
}
