// Margin and Padding
// We will use u-* on the start of the spacing class as which will exhibit it as utility

// It will output Following class
// micro,
// tiny,
// small,
// mid,
// large,
// xlarge

// It will use e.i. u-p-micro
@each $breakpoint in map-keys($grid-breakpoints) {
 @include media-breakpoint-up($breakpoint) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @each $prop, $abbrev in (margin: m, padding: p) {
   @each $size, $length in $global-spacers {
    .u-#{$abbrev}#{$infix}-#{$size} {
     #{$prop}: $length !important;
    }
    .u-#{$abbrev}t#{$infix}-#{$size},
    .#{$abbrev}y#{$infix}-#{$size} {
     #{$prop}-top: $length !important;
    }
    .u-#{$abbrev}r#{$infix}-#{$size},
    .#{$abbrev}x#{$infix}-#{$size} {
     #{$prop}-right: $length !important;
    }
    .u-#{$abbrev}b#{$infix}-#{$size},
    .#{$abbrev}y#{$infix}-#{$size} {
     #{$prop}-bottom: $length !important;
    }
    .u-#{$abbrev}l#{$infix}-#{$size},
    .#{$abbrev}x#{$infix}-#{$size} {
     #{$prop}-left: $length !important;
    }
   }
  }

  // Negative margins (e.g., where `.u-mb-*` is negative version of `.u-mb-1`)
  @each $size, $length in $global-spacers {
   @if $size != 0 {
    .u-m#{$infix}-n#{$size} {
     margin: -$length !important;
    }
    .u-mt#{$infix}-n#{$size},
    .u-my#{$infix}-n#{$size} {
     margin-top: -$length !important;
    }
    .u-mr#{$infix}-n#{$size},
    .u-mx#{$infix}-n#{$size} {
     margin-right: -$length !important;
    }
    .u-mb#{$infix}-n#{$size},
    .u-my#{$infix}-n#{$size} {
     margin-bottom: -$length !important;
    }
    .u-ml#{$infix}-n#{$size},
    .u-mx#{$infix}-n#{$size} {
     margin-left: -$length !important;
    }
   }
  }

  // Some special margin utils
  .u-m#{$infix}-auto {
   margin: auto !important;
  }
  .u-mt#{$infix}-auto,
  .u-my#{$infix}-auto {
   margin-top: auto !important;
  }
  .u-mr#{$infix}-auto,
  .u-mx#{$infix}-auto {
   margin-right: auto !important;
  }
  .u-mb#{$infix}-auto,
  .u-my#{$infix}-auto {
   margin-bottom: auto !important;
  }
  .u-ml#{$infix}-auto,
  .u-mx#{$infix}-auto {
   margin-left: auto !important;
  }
 }
}
