<main class="py--8">
  <div class="container">
    <theme-switcher [themes]="themesList"></theme-switcher>
    <h2>Button Variants</h2>
    <div class="jumbotron pb--5">
      <h3>Solid Button Style</h3>
      <fds-ml-button-solid></fds-ml-button-solid>
    </div>

    <div class="jumbotron pb--5">
      <h3>Clear Button Style</h3>
      <fds-ml-button-clear></fds-ml-button-clear>
    </div>

    <div class="jumbotron pb--5">
      <h3>Outline Button Style</h3>
      <demo-button-outline></demo-button-outline>
    </div>

    <div class="jumbotron pb--5">
      <h3>Rounded Button Style</h3>
      <demo-button-rounded></demo-button-rounded>
    </div>

    <div class="jumbotron pb--5">
      <h3>Rounded Outline Button Style</h3>
      <demo-button-rounded-outline></demo-button-rounded-outline>
    </div>

    <div class="jumbotron pb--5">
      <h3>Curved Button Style</h3>
      <demo-button-curved></demo-button-curved>
    </div>

    <div class="jumbotron pb--5">
      <h3>Curved Outline Button Style</h3>
      <demo-button-curved-outline></demo-button-curved-outline>
    </div>

    <h2>Select</h2>
    <div class="jumbotron pb--5">
      <h3></h3>
      <demo-select-basic></demo-select-basic>
    </div>

    <h2>Autocomplete</h2>
    <div class="jumbotron pb--5">
      <h3></h3>
      <div class="row">
        <div class="col-6">
          <demo-autocomplete-basic></demo-autocomplete-basic>
        </div>
        <div class="col-6">
          <demo-autocomplete-with-template></demo-autocomplete-with-template>
        </div>
      </div>
    </div>

    <h2>Range Slider</h2>
    <div class="jumbotron pb--5">
      <h3>Basic</h3>
      <demo-range-slider></demo-range-slider>
      <h3>Currency</h3>
      <demo-range-slider-currency></demo-range-slider-currency>
    </div>
    <h2>Progress</h2>
    <div class="jumbotron pb--5">
      <h3></h3>
      <div class="row">
        <div class="col-12">
          <demo-progress></demo-progress>
        </div>
      </div>
    </div>

    <h2>Radio Button</h2>
    <div class="jumbotron pb--5">
      <h3>Basic</h3>
      <demo-radio-basics></demo-radio-basics>
      <h3>Inline</h3>
      <demo-radio-inline></demo-radio-inline>
    </div>

    <h2>Stepper</h2>
    <div class="jumbotron pb--5">
      <!--  <h3>Basic</h3>-->
      <demo-stepper-basic></demo-stepper-basic>
    </div>

    <h2>Advanced Stepper</h2>
    <div class="jumbotron pb--5">
      <!--  <h3>Basic</h3>-->
      <demo-advance-stepper></demo-advance-stepper>
    </div>

    <h2>Modal</h2>
    <div class="jumbotron pb--5">
      <!--  <h3>Basic</h3>-->
      <demo-modal-basic></demo-modal-basic>
    </div>

    <h2>Popover</h2>
    <div class="jumbotron pb--5">
      <!--  <h3>Basic</h3>-->
      <demo-popover-basic></demo-popover-basic>
    </div>

    <h2>Cards</h2>
    <div class="jumbotron pb--5">
      <div class="row mb--5">
        <div class="col-4 mb--5">
          <h5>Default</h5>
          <fds-simple-card></fds-simple-card>
        </div>
        <div class="col-4 mb--5">
          <h5>Box Shadow</h5>
          <fds-box-shadow></fds-box-shadow>
        </div>
        <div class="col-4 mb--5">
          <h5>Solid Shadow</h5>
          <fds-solid-shadow></fds-solid-shadow>
        </div>
        <div class="col-4 mb--5">
          <h5>With Image</h5>
          <fds-with-image></fds-with-image>
        </div>
        <div class="col-4 mb--5 d--flex flex--column">
          <h5>Icon with Fixed Height</h5>
          <fds-icon-fixed-height
            class="d--flex flex--grow--1"
          ></fds-icon-fixed-height>
        </div>
        <div class="col-4 mb--5 d--flex flex--column">
          <h5>Without Icon</h5>
          <fds-no-icon class="d--flex flex--grow--1"></fds-no-icon>
        </div>
        <div class="col-4">
          <h5>With Image and Solid Shadow</h5>
          <fds-image-with-solid-shadow></fds-image-with-solid-shadow>
        </div>
      </div>
    </div>

    <h2>Tables</h2>
    <div class="jumbotron pb--5">
      <fds-demo-table class="table"></fds-demo-table>
    </div>
  </div>
</main>
