<theme-switcher [themes]="themesList"></theme-switcher>
<h1>Button Variants</h1>
<div class="jumbotron pb-mid">
  <h2>Solid</h2>
  <fds-ml-button-solid></fds-ml-button-solid>
</div>

<div class="jumbotron pb-mid">
  <h2>Clear Style</h2>
  <fds-ml-button-clear></fds-ml-button-clear>
</div>

<div class="jumbotron pb-mid">
  <h2>Outline</h2>
  <demo-button-outline></demo-button-outline>
</div>

<div class="jumbotron pb-mid">
  <h2>Rounded</h2>
  <demo-button-rounded></demo-button-rounded>
</div>

<div class="jumbotron pb-mid">
  <h2>Rounded Outline</h2>
  <demo-button-rounded-outline></demo-button-rounded-outline>
</div>

<div class="jumbotron pb-mid">
  <h2>Curved</h2>
  <demo-button-curved></demo-button-curved>
</div>

<div class="jumbotron pb-mid">
  <h2>Curved Outline</h2>
  <demo-button-curved-outline></demo-button-curved-outline>
</div>

<!--<h2>Side Effects of ViewEncapsulation.None</h2>-->
<!--<demo-ml-side-effects></demo-ml-side-effects>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<h2>Tooltip</h2>-->
<!--<demo-ml-tooltip></demo-ml-tooltip>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<h2>Popover</h2>-->
<!--<demo-ml-popover></demo-ml-popover>-->
<!--<br>-->
<!--<br>-->
