<theme-switcher [themes]="themesList"></theme-switcher>
<h2>Button Variants</h2>
<div class="jumbotron pb-mid">
  <h3>Solid</h3>
  <fds-ml-button-solid></fds-ml-button-solid>
</div>

<div class="jumbotron pb-mid">
  <h3>Clear Style</h3>
  <fds-ml-button-clear></fds-ml-button-clear>
</div>

<div class="jumbotron pb-mid">
  <h3>Outline</h3>
  <demo-button-outline></demo-button-outline>
</div>

<div class="jumbotron pb-mid">
  <h3>Rounded</h3>
  <demo-button-rounded></demo-button-rounded>
</div>

<div class="jumbotron pb-mid">
  <h3>Rounded Outline</h3>
  <demo-button-rounded-outline></demo-button-rounded-outline>
</div>

<div class="jumbotron pb-mid">
  <h3>Curved</h3>
  <demo-button-curved></demo-button-curved>
</div>

<div class="jumbotron pb-mid">
  <h3>Curved Outline</h3>
  <demo-button-curved-outline></demo-button-curved-outline>
</div>

<h2>Select</h2>
<div class="jumbotron pb-mid">
  <h3></h3>
  <demo-select-basic></demo-select-basic>
</div>

<h2>Autocomplete</h2>
<div class="jumbotron pb-mid">
  <h3></h3>
  <div class="row">
	<div class="col-6">
	  <demo-autocomplete-basic></demo-autocomplete-basic>
	</div>
	<div class="col-6">
	  <demo-autocomplete-with-template></demo-autocomplete-with-template>
	</div>
  </div>
</div>

<h2>Range Slider</h2>
<div class="jumbotron pb-mid">
  <h3>Basic</h3>
  <demo-range-slider></demo-range-slider>
  <h3>Currency</h3>
  <demo-range-slider-currency></demo-range-slider-currency>
</div>
<h2>Progress</h2>
<div class="jumbotron pb-mid">
  <h3></h3>
  <div class="row">
	<div class="col-12">
	  <demo-progress></demo-progress>
	</div>
  </div>
</div>

<h2>Radio Button</h2>
<div class="jumbotron pb-mid">
  <h3>Basic</h3>
  <demo-radio-basics></demo-radio-basics>
  <h3>Inline</h3>
  <demo-radio-inline></demo-radio-inline>
</div>

<h2>Stepper</h2>
<div class="jumbotron pb-mid">
<!--  <h3>Basic</h3>-->
  <demo-stepper-basic></demo-stepper-basic>
</div>

<h2>Modal</h2>
<div class="jumbotron pb-mid">
<!--  <h3>Basic</h3>-->
  <demo-modal-basic></demo-modal-basic>
</div>

<h2>Popover</h2>
<div class="jumbotron pb-mid">
  <!--  <h3>Basic</h3>-->
  <demo-popover-basic></demo-popover-basic>
</div>
<!--<h3>Side Effects of ViewEncapsulation.None</h3>-->
<!--<demo-ml-side-effects></demo-ml-side-effects>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<h3>Tooltip</h3>-->
<!--<demo-ml-tooltip></demo-ml-tooltip>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<h3>Popover</h3>-->
<!--<demo-ml-popover></demo-ml-popover>-->
<!--<br>-->
<!--<br>-->
<h2> Cards </h2>
<div class="jumbotron pb-mid">
  <div class="row mb-mid">
    <div class="col-4 mb-mid">
      <h3> Default </h3>
      <fds-simple-card></fds-simple-card>
    </div>
    <div class="col-4 mb-mid">
      <h3> Box Shadow </h3>
      <fds-box-shadow></fds-box-shadow>
    </div>
    <div class="col-4 mb-mid">
      <h3> Solid Shadow </h3>
      <fds-solid-shadow></fds-solid-shadow>
    </div>
    <div class="col-4 mb-mid d-flex flex-column">
      <h3> Icon with Fixed Height </h3>
      <fds-icon-fixed-height class="d-flex flex-grow-1"></fds-icon-fixed-height>
    </div>
    <div class="col-4 mb-mid d-flex flex-column">
      <h3> Without Icon </h3>
      <fds-no-icon class="d-flex flex-grow-1"></fds-no-icon>
    </div>
    <div class="col-4 mb-mid">
      <h3> With Image </h3>
      <fds-with-image></fds-with-image>
    </div>
    <div class="col-4">
      <h3> With Image and Solid Shadow </h3>
      <fds-image-with-solid-shadow></fds-image-with-solid-shadow>
    </div>
  </div>
</div>