.navy-theme {
  --primary: var(--blue);
  --primary-light: var(--blue-light);
  --primary-lighter: var(--blue-lighter);
  --primary-dark: var(--blue-dark);
  --primary-darker: var(--blue-darker);

  --secondary: var(--primary-light);
  --success: var(--gray);
  --info: var(--primary-dark);
  --warning: var(--primary-darker);
  --danger: var(--red);
  --light: var(--gray-light);
  --dark: var(--gray-dark);
  --primary-hover: var(--blue-dark);
  --secondary-hover: var(--gray-dark);
  --info-hover: var(--cyan-dark);
  --success-hover: var(--lime-dark);
  --danger-hover: var(--red);
  --warning-hover: var(--blue-dark);
  --light-hover: var(--gray);
  --dark-hover: var(--gray-light);

  .bg__warning,
  .bg__info {
	color: var(--secondary-text) !important;
  }
  .bg__secondary,
  .bg__light {
	color: var(--primary-text) !important;
  }
}
