.theme-light {
  --primary: #66c9d5;
  --secondary: #c4d93c;
  --success: #2874a4;
  --info: #fccc2e;
  --warning: #f48245;
  --danger: #c36837;
  --light: #fff;
  --dark: #282828;
}

//Theme dark
.theme-dark {
  --primary: #c36837;
  --secondary: #2874a4;
  --success: #66c9d5;
  --info: #f48245;
  --warning: #fccc2e;
  --danger: #c4d93c;
  --light: #282828;
  --dark: #fff;
}

#pageWrapper {
  background-color: var(--light);
  //color: var(--dark);
  z-index: 1;
}

.theme-switcher {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0 0 20px 14px rgba(0, 0, 0, 0.15);
  background-color: #d8d8d8;
  z-index: 20;
  border-radius: 10px;
  opacity: 0.2;

  &:hover {
    opacity: 1;
  }
}
