.shadow-sm {
 box-shadow: var(--box-shadow-sm) !important;
}
.shadow {
 box-shadow: var(--box-shadow) !important;
}
.shadow-lg {
 box-shadow: var(--box-shadow-lg) !important;
}
.shadow-none {
 box-shadow: none !important;
}
