<div class="mb-5" id="typography">
    <h2 class="h2">Typography</h2>
    <p>
        Documentation and examples for ML Design System typography, including global settings, headings, body text, lists, and more.
    </p>
    <p>
        All HTML headings, <code class="">&lt;h1&gt;</code> through
        <code class="">&lt;h6&gt;</code>, are available.
    </p>
    <div>
        <ul class="headings_list mb-5">
            <li>
                <strong class="col-2">heading</strong>
                <strong class="col">Example</strong>
            </li>
            <li>
                <code class="">&lt;h1 class="h1"&gt;&lt;/h1&gt;</code>
                <span class="h1">h1. heading</span>
            </li>

            <li>
                <code class="">&lt;h2 class="h2"&gt;&lt;/h2&gt;</code>
                <span class="h2">h2. heading</span>
            </li>

            <li>
                <code class="">&lt;h3 class="h3"&gt;&lt;/h3&gt;</code>
                <span class="h3">h3. heading</span>
            </li>

            <li>
                <code class="">&lt;h4 class="h4"&gt;&lt;/h4&gt;</code>
                <span class="h4">h4. heading</span>
            </li>

            <li>
                <code class="">&lt;h5 class="h5"&gt;&lt;/h5&gt;</code>
                <span class="h5">h5. heading</span>
            </li>

            <li>
                <code class="">&lt;h6 class="h6"&gt;&lt;/h6&gt;</code>
                <span class="h6">h6. heading</span>
            </li>
        </ul>
    </div>
    <h3 class="h3">Display headings</h3>
    <p>
        All Display headings, <code class="">.display-1</code> through
        <code class="">.display-4</code>, are available.
    </p>
    <div class="">
        <ul class="headings_list mb-5">
            <li>
                <strong class="col-2">Example</strong>
                <strong class="col">heading</strong>
            </li>
            <li>
                <code class="">&lt;h1 class="display-1"&gt;&lt;/h1&gt;</code>
                <span class="h1">Display 1</span>
            </li>

            <li>
                <code class="">&lt;h2 class="display-2"&gt;&lt;/h2&gt;</code>
                <span class="h2">Display 2</span>
            </li>

            <li>
                <code class="">&lt;h3 class="display-3"&gt;&lt;/h3&gt;</code>
                <span class="h3">Display 3</span>
            </li>

            <li>
                <code class="">&lt;h4 class="display-4"&gt;&lt;/h4&gt;</code>
                <span class="h4">Display 4</span>
            </li>
        </ul>
    </div>
</div>
