<div id="ColorPalette" class="my-5">
    <h3 class="h3">Color Palette</h3>
    <p>a color scheme is the choice of colors used in design for a range of media. For example, the "Achromatic" use of a white background with black text is an example of a basic and commonly default color scheme in web design. Color schemes are used to create style and appeal.</p>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold"><strong>Primary</strong></p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col colors__infoLeft">Scss Var:</div>
                    <div class="col-4 colors__infoRight">$primary</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col colors__infoLeft">Text class:</div>
                    <div class="col-4 colors__infoRight text-primary">
                        text-primary
                    </div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col colors__infoLeft">bg class:</div>
                    <div class="col-4 colors__infoRight bg-primary">bg-primary</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold"><strong>Secondary</strong></p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-4">$secondary</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-4 text-secondary">text-secondary</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-4 text-white bg-secondary">bg-secondary</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold"><strong>Success</strong></p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-4">$success</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-4 text-success">text-success</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-4 text-white bg-success">bg-success</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold"><strong>Danger</strong></p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-4">$danger</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-4 text-danger">text-danger</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-4 text-white bg-danger">bg-danger</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold"><strong>Danger</strong></p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-4">$warning</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-4 text-warning">text-warning</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-4 bg-warning">bg-warning</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold"><strong>Info</strong></p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-4">$info</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-4 text-info">text-info</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-4 bg-info">bg-info</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold"><strong>Dark</strong></p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-4">$dark</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-4 text-dark">text-dark</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-4 text-white bg-dark">bg-dark</div>
                </li>
            </ul>
        </div>
    </div>
</div>
