<section id="components_info">
  <section id="tooltips_info">
    <div class="infoBlockPiece">
      <div class="jumbotron">
        <h2>ToolTips</h2>
        <h5>Tooltip with no arrow</h5>
        <p class="mb-large">@todo: add description.</p>
        <div>
          <p>
            This is a tooltip icon. Hover on it to reveal tooltip
            <span
              style="color: var(--primary);"
              class="tooltip-holder pl-tiny icon-info_24px"
            >
              <span
                class="curved py-tiny px-small text--center"
                data-arrow="false"
                data-position="top"
                data-tooltip
                tabindex="1"
                >This is a tooltip</span
              >
            </span>
          </p>
        </div>
      </div>
      <div class="jumbotron">
        <h2>ToolTips</h2>
        <h5>Tooltip with arrow</h5>
        <p class="mb-large">@todo: add description.</p>
        <div>
          <p>
            This is a tooltip icon. Hover on it to reveal tooltip
            <span
              style="color: var(--primary);"
              class="tooltip-holder pl-tiny icon-info_24px"
            >
              <span
                class="arrow--top curved py-tiny px-small text--center"
                data-arrow="true"
                data-position="top"
                data-tooltip
                tabindex="1"
                >This is a tooltip</span
              >
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
