<div id="modals">
  <div class="infoBlockPiece">
    <h2>Modal</h2>
    <p>
      A modal is a container in which you can put any kind of content, from text
      to forms to video to an entire grid. Modals are built with HTML, CSS, and
      JavaScript. They’re positioned over everything else in the document and
      remove scroll from the <code>&lt;body&gt;</code> so that modal content
      scrolls instead.
    </p>
    <div class="jumbotron">
      <div class="row">
        <div class="col">
          <h5>Title + Message</h5>
          <div class="d-flex flex-column">
            <button
              type="button"
              class="btn btn__primary mb-small"
              onclick="showModal(1);"
            >
              Launch Modal
            </button>
          </div>
        </div>
        <div class="col">
          <h5>Icon + Title + Message</h5>
          <div class="d-flex flex-column">
            <button
              type="button"
              class="btn btn__secondary mb-small"
              onclick="showModal(2);"
            >
              Notification Modal
            </button>
            <button
              type="button"
              class="btn btn__success mb-small"
              onclick="showModal(3);"
            >
              Success Modal
            </button>
            <button
              type="button"
              class="btn btn__warning"
              onclick="showModal(4);"
            >
              Warning Modal
            </button>
          </div>
        </div>
        <div class="col">
          <h5>Title + Paragraph</h5>
          <div class="d-flex flex-column">
            <button
              type="button"
              class="btn btn__primary mb-small"
              onclick="showModal(5);"
            >
              Launch Modal
            </button>
            <button
              type="button"
              class="btn btn__primary mb-small"
              onclick="showModal(6);"
            >
              Launch Modal
            </button>
            <button
              type="button"
              class="btn btn__primary"
              onclick="showModal(7);"
            >
              Launch Modal
            </button>
          </div>
        </div>
        <div class="col">
          <h5>Close button variations</h5>
          <div class="d-flex flex-column">
            <button
              type="button"
              class="btn btn__primary mb-small"
              onclick="showModal(8);"
            >
              Launch Modal
            </button>
            <button
              type="button"
              class="btn btn__primary mb-small"
              onclick="showModal(9);"
            >
              Launch Modal
            </button>
            <button
              type="button"
              class="btn btn__primary"
              onclick="showModal(10);"
            >
              Launch Modal
            </button>
          </div>
        </div>
      </div>

      <div id="modalBackdrop" class="modalBackdrop"></div>
      <div id="modal1" class="modal" tabindex="-1">
        <div class="modalDialog">
          <div class="modalContent p-mid">
            <div class="position-relative">
              <div class="modalBody">
                <h5 tabindex="1" class="h5 pr-mid">Not in stock</h5>
                <div tabindex="1" class="modalDescription">
                  <p>This item is temporarily out of stock.</p>
                </div>
              </div>
              <button
                tabindex="1"
                type="button"
                class="icnClose icon-close"
                onclick="hideModal();"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div id="modal2" class="modal" tabindex="-1">
        <div class="modalDialog">
          <div class="modalContent p-mid">
            <div class="d-flex align-items-start position-relative">
              <span class="icnInfo icon-info-outline mr-tiny"></span>
              <div class="modalBody">
                <h5 tabindex="1" class="h5 pr-mid">notification message</h5>
                <div tabindex="1" class="modalDescription">
                  <p>
                    This is a notification message. Please read the message and
                    close the window.
                  </p>
                </div>
              </div>
              <button
                tabindex="1"
                type="button"
                class="icnClose icon-close"
                onclick="hideModal();"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div id="modal3" class="modal" tabindex="-1">
        <div class="modalDialog">
          <div class="modalContent p-mid">
            <div class="position-relative">
              <div class="modalBody">
                <h5 tabindex="1" class="h5 pr-mid">Success Message</h5>
                <div class="modalDescription">
                  <figure class="pt-small">
                    <img
                      src="../../images/Success.svg"
                      alt="success icon"
                      width="84"
                      height="84"
                    />
                  </figure>
                  <div class="formCheck">
                    <div class="checkBox checkBox__bg">
                      <input type="checkbox" id="checkboxsuccess" />
                      <span class="checkboxFake"></span>
                    </div>
                    <label class="checkLabel" for="checkboxsuccess"
                      >I have read and continue with application.</label
                    >
                  </div>
                </div>
              </div>
              <button
                tabindex="1"
                type="button"
                class="icnClose icon-close"
                onclick="hideModal();"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div id="modal4" class="modal" tabindex="-1">
        <div class="modalDialog">
          <div class="modalContent p-mid">
            <div class="position-relative">
              <div class="modalBody">
                <h5 tabindex="1" class="h5 pr-mid">Warning Message</h5>
                <div class="modalDescription">
                  <figure class="pt-small">
                    <img
                      src="../../images/Caution.svg"
                      alt="warning icon"
                      width="77"
                      height="66"
                    />
                  </figure>
                  <div class="formCheck">
                    <div class="checkBox checkBox__bg">
                      <input type="checkbox" id="checkboxwarning" />
                      <span class="checkboxFake"></span>
                    </div>
                    <label class="checkLabel" for="checkboxwarning"
                      >I have read and continue with application.</label
                    >
                  </div>
                </div>
              </div>
              <button
                tabindex="1"
                type="button"
                class="icnClose icon-close"
                onclick="hideModal();"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div id="modal5" class="modal" tabindex="-1">
        <div class="modalDialog modalLarge">
          <div class="modalContent p-mid">
            <div class="position-relative">
              <div class="modalBody">
                <h5 tabindex="1" class="h5 pr-mid">
                  What is cupcake? This is a title.
                </h5>
                <div tabindex="1" class="modalDescription">
                  <p>
                    A standard cupcake uses the same basic ingredients as
                    standard-sized cakes: butter, sugar, eggs, and flour. Nearly
                    any recipe tAhat is suitable for a layer cake can be used to
                    bake cupcakes. The cake batter used for cupcakes may be
                    flavored or have other ingredients stirred in, such as
                    raisins, berries, nuts, or chocolate chips.
                  </p>
                </div>
              </div>
              <button
                tabindex="1"
                type="button"
                class="icnClose icon-close"
                onclick="hideModal();"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div id="modal6" class="modal" tabindex="-1">
        <div class="modalDialog modalLarge">
          <div class="modalContent p-mid">
            <div class="position-relative">
              <div class="modalBody">
                <h5 tabindex="1" class="h5 pr-mid">
                  What is cupcake? This is a title.
                </h5>
                <div tabindex="1" class="modalDescription">
                  <p>
                    A standard cupcake uses the same basic ingredients as
                    standard-sized cakes: butter, sugar, eggs, and flour. Nearly
                    any recipe that is suitable for a layer cake can be used to
                    bake cupcakes. The cake batter used for cupcakes may be
                    flavored or have other ingredients stirred in, such as
                    raisins, berries, nuts, or chocolate chips.
                  </p>
                  <p>
                    Because their small size is more efficient for heat
                    conduction, cupcakes bake much faster than a normal layered
                    cake.[7] During baking, the volume of the batter initially
                    increases due to the production of carbon dioxide, then
                    decreases upon cooling due to the release of leavening
                    gases.
                  </p>
                </div>
              </div>
              <button
                tabindex="1"
                type="button"
                class="icnClose icon-close"
                onclick="hideModal();"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div id="modal7" class="modal" tabindex="-1">
        <div class="modalDialog modalLarge">
          <div class="modalContent p-mid">
            <div class="position-relative">
              <div class="modalBody pr-mid">
                <div tabindex="1" class="modalDescription">
                  <p>
                    A standard cupcake uses the same basic ingredients as
                    standard-sized cakes: butter, sugar, eggs, and flour. Nearly
                    any recipe that is suitable for a layer cake can be used to
                    bake cupcakes. The cake batter used for cupcakes may be
                    flavored or have other ingredients stirred in, such as
                    raisins, berries, nuts, or chocolate chips.
                  </p>
                </div>
              </div>
              <button
                tabindex="1"
                type="button"
                class="icnClose icon-close"
                onclick="hideModal();"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div id="modal8" class="modal" tabindex="-1">
        <div class="modalDialog modalLarge">
          <div class="modalContent p-mid">
            <div class="position-relative">
              <div class="modalBody">
                <h5 tabindex="1" class="h5">
                  What is cupcake? This is a title.
                </h5>
                <div tabindex="1" class="modalDescription">
                  <p>
                    A standard cupcake uses the same basic ingredients as
                    standard-sized cakes: butter, sugar, eggs, and flour. Nearly
                    any recipe that is suitable for a layer cake can be used to
                    bake cupcakes. The cake batter used for cupcakes may be
                    flavored or have other ingredients stirred in, such as
                    raisins, berries, nuts, or chocolate chips.
                  </p>
                </div>
              </div>
              <div class="modalFooter pt-mid">
                <span tabindex="1" class="icnClose" onclick="hideModal();"
                  >Close</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal9" class="modal" tabindex="-1">
        <div class="modalDialog">
          <div class="modalContent p-mid">
            <div class="d-flex align-items-start position-relative">
              <span class="icnInfo icon-info-outline mr-tiny"></span>
              <div class="modalBody">
                <h5 tabindex="1" class="h5">Notification Message</h5>
                <div tabindex="1" class="modalDescription">
                  <p>
                    This is a notification message. Please read the message. if
                    you need additional information Learn More
                  </p>
                </div>
                <div class="modalFooter pt-mid">
                  <span
                    tabindex="1"
                    class="btn btn__dark btn__outline"
                    onclick="hideModal();"
                    >Close</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal10" class="modal" tabindex="-1">
        <div class="modalDialog">
          <div class="modalContent p-mid">
            <div class="position-relative">
              <div class="modalBody">
                <h5 tabindex="1" class="h5">
                  What is cupcake? This is a title.
                </h5>
                <div tabindex="1" class="modalDescription">
                  <p>
                    A standard cupcake uses the same basic ingredients as
                    standard-sized cakes: butter, sugar, eggs, and flour. Nearly
                    any recipe that is suitable for a layer cake can be used to
                    bake cupcakes. The cake batter used for cupcakes may be
                    flavored or have other ingredients stirred in, such as
                    raisins, berries, nuts, or chocolate chips.
                  </p>
                </div>
                <div class="modalFooter pt-mid">
                  <span
                    tabindex="1"
                    class="icnClose icnFilled"
                    onclick="hideModal();"
                    >Close</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
