<div id="ColorPalette" class="u-my-mid">
  <h3 class="h3">Color Palette</h3>
  <p>
    a color scheme is the choice of colors used in design for a range of media.
    For example, the "Achromatic" use of a white background with black text is
    an example of a basic and commonly default color scheme in web design. Color
    schemes are used to create style and appeal.
  </p>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <p class="text--body-lg text--bold color-name-title">
        <strong>Primary</strong>
        <span class="bg__primary"></span>
      </p>
      <ul class="card_body u-p-small u-p-small">
        <li class="row u-mb-small justify-content-between">
          <div class="col colors__infoLeft">Scss Var:</div>
          <div class="col-5 colors__infoRight">$primary</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col colors__infoLeft">Text class:</div>
          <div class="col-5 colors__infoRight text__primary">
            text__primary
          </div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col colors__infoLeft">bg class:</div>
          <div class="col-5 colors__infoRight bg__primary">bg__primary</div>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <p class="text--body-lg text--bold color-name-title">
        <strong>Secondary</strong> <span class="bg__secondary"></span>
      </p>
      <ul class="card_body u-p-small">
        <li class="row u-mb-small justify-content-between">
          <div class="col">Scss Var:</div>
          <div class="col-5">$secondary</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">Text class:</div>
          <div class="col-6 text__secondary">text__secondary</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">bg class:</div>
          <div class="col-6 text--white bg__secondary">bg__secondary</div>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <p class="text--body-lg text--bold color-name-title">
        <strong>Success</strong>
        <span class="bg__success"></span>
      </p>
      <ul class="card_body u-p-small u-p-small">
        <li class="row u-mb-small justify-content-between">
          <div class="col">Scss Var:</div>
          <div class="col-5">$success</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">Text class:</div>
          <div class="col-5 text__success">text__success</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">bg class:</div>
          <div class="col-5 text--white bg__success">bg__success</div>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <p class="text--body-lg text--bold color-name-title">
        <strong>Danger</strong>
        <span class="bg__danger"></span>
      </p>
      <ul class="card_body u-p-small u-p-small">
        <li class="row u-mb-small justify-content-between">
          <div class="col">Scss Var:</div>
          <div class="col-5">$danger</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">Text class:</div>
          <div class="col-5 text__danger">text__danger</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">bg class:</div>
          <div class="col-5 text--white bg__danger">bg__danger</div>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <p class="text--body-lg text--bold color-name-title">
        <strong>Warning</strong>
        <span class="bg__warning"></span>
      </p>
      <ul class="card_body u-p-small u-p-small">
        <li class="row u-mb-small justify-content-between">
          <div class="col">Scss Var:</div>
          <div class="col-5">$warning</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">Text class:</div>
          <div class="col-6 text__warning">text__warning</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">bg class:</div>
          <div class="col-6 bg__warning">bg__warning</div>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <p class="text--body-lg text--bold color-name-title">
        <strong>Info</strong>
        <span class="bg__info"></span>
      </p>
      <ul class="card_body u-p-small u-p-small">
        <li class="row u-mb-small justify-content-between">
          <div class="col">Scss Var:</div>
          <div class="col-5">$info</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">Text class:</div>
          <div class="col-5 text__info">text__info</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">bg class:</div>
          <div class="col-5 bg__info">bg__info</div>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <p class="text--body-lg text--bold color-name-title">
        <strong>Dark</strong>
        <span class="bg__dark"></span>
      </p>
      <ul class="card_body u-p-small u-p-small">
        <li class="row u-mb-small justify-content-between">
          <div class="col">Scss Var:</div>
          <div class="col-5">$dark</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">Text class:</div>
          <div class="col-5 text__dark">text__dark</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">bg class:</div>
          <div class="col-5 text--white bg__dark">bg__dark</div>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <p class="text--body-lg text--bold color-name-title">
        <strong>Light</strong>
        <span class="bg__light"></span>
      </p>
      <ul class="card_body u-p-small u-p-small">
        <li class="row u-mb-small justify-content-between">
          <div class="col">Scss Var:</div>
          <div class="col-5">$light</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">Text class:</div>
          <div class="col-5 text__light">text__light</div>
        </li>
        <li class="row u-mb-small justify-content-between">
          <div class="col">bg class:</div>
          <div class="col-5 text--white bg__light">bg__light</div>
        </li>
      </ul>
    </div>
  </div>
</div>
