<div class="infoBlockPiece">
  <div class="jumbotron">
    <h2 class="h2">Iconography</h2>
    <p>
      The icons used in Design System are SVGs because of the improved
      accessibility and vector support of SVG format.
    </p>
    <p>
      All icons can be accessed by using class prefix <code>icon-</code> for
      example
      <code
        >&lt;span
        class=&quot;icon-reduced-time-to-market&quot;&gt;&lt;/span&gt;</code
      >
    </p>
    <h5>Icon Sets</h5>
    <div>
      <h6>Action</h6>
      <div>
        <ul>
          <li><span class="icon-d_rotation_24px"></span></li>
          <li><span class="icon-reduced-time-to-market"></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
