<div class="row my-5" id="buttons_info">
    <div class="col-12">
        <h3 class="h3">Buttons/Links</h3>
        <p>
            All HTML Buttons,
            <code class="">&lt;button class="btn"&gt;</code> and
            <code class="">&lt;a class="btn"&gt;</code>, are available. Use
            these classes
            <code class="">.btn-primary, btn-secondary, btn-success etc </code>
        </p>


        <h4 class="h4">Solid buttons with <u>block</u> border</h4>
        <div class="d-flex button-example m-b-50">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-dark disabled">Disabled</button>
        </div>

        <h4 class="h4">Outline buttons with <u>block</u> border</h4>
        <div class="d-flex button-example">
            <button type="button" class="btn btn-outline-primary">
                Primary
            </button>
            <button type="button" class="btn btn-outline-secondary">
                Secondary
            </button>
            <button type="button" class="btn btn-outline-success">
                Success
            </button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-outline-warning">
                Warning
            </button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-light">Light</button>
            <button type="button" class="btn btn-outline-dark">Dark</button>
            <button type="button" class="btn btn-outline-dark disabled">Disabled</button>
        </div>

        <h4 class="h4">Solid buttons with <u>Curved</u> border</h4>
        <div class="d-flex button-example m-b-50">
            <button type="button" class="btn btn-primary-curved">Primary</button>
            <button type="button" class="btn btn-secondary-curved">Secondary</button>
            <button type="button" class="btn btn-success-curved">Success</button>
            <button type="button" class="btn btn-danger-curved">Danger</button>
            <button type="button" class="btn btn-warning-curved">Warning</button>
            <button type="button" class="btn btn-info-curved">Info</button>
            <button type="button" class="btn btn-light-curved">Light</button>
            <button type="button" class="btn btn-dark-curved">Dark</button>
            <button type="button" class="btn btn-dark-curved disabled">Disabled</button>
        </div>

        <h4 class="h4">Outline buttons with <u>Curved</u> border</h4>
        <div class="d-flex button-example">
            <button type="button" class="btn btn-outline-primary-curved">
                Primary
            </button>
            <button type="button" class="btn btn-outline-secondary-curved">
                Secondary
            </button>
            <button type="button" class="btn btn-outline-success-curved">
                Success
            </button>
            <button type="button" class="btn btn-outline-danger-curved">Danger</button>
            <button type="button" class="btn btn-outline-warning-curved">
                Warning
            </button>
            <button type="button" class="btn btn-outline-info-curved">Info</button>
            <button type="button" class="btn btn-outline-light-curved">Light</button>
            <button type="button" class="btn btn-outline-dark-curved">Dark</button>
            <button type="button" class="btn btn-outline-dark-curved disabled">Disabled</button>
        </div>


        <h4 class="h4">Solid buttons with <u>Rounded</u> border</h4>
        <div class="d-flex button-example m-b-50">
            <button type="button" class="btn btn-primary-rounded">Primary</button>
            <button type="button" class="btn btn-secondary-rounded">Secondary</button>
            <button type="button" class="btn btn-success-rounded">Success</button>
            <button type="button" class="btn btn-danger-rounded">Danger</button>
            <button type="button" class="btn btn-warning-rounded">Warning</button>
            <button type="button" class="btn btn-info-rounded">Info</button>
            <button type="button" class="btn btn-light-rounded">Light</button>
            <button type="button" class="btn btn-dark-rounded">Dark</button>
            <button type="button" class="btn btn-dark-rounded disabled">Disabled</button>
        </div>

        <h4 class="h4">Outline buttons with <u>Rounned</u> border</h4>
        <div class="d-flex button-example">
            <button type="button" class="btn btn-outline-primary-rounded">
                Primary
            </button>
            <button type="button" class="btn btn-outline-secondary-rounded">
                Secondary
            </button>
            <button type="button" class="btn btn-outline-success-rounded">
                Success
            </button>
            <button type="button" class="btn btn-outline-danger-rounded">Danger</button>
            <button type="button" class="btn btn-outline-warning-rounded">
                Warning
            </button>
            <button type="button" class="btn btn-outline-info-rounded">Info</button>
            <button type="button" class="btn btn-outline-light-rounded">Light</button>
            <button type="button" class="btn btn-outline-dark-rounded">Dark</button>
            <button type="button" class="btn btn-outline-primary-rounded disabled">Disabled</button>
        </div>

        <h4 class="h4">Buttons sizing and links</h4>
        <div class="d-flex button-example">
            <button type="button" class="btn btn-link">Link</button>
            <button type="button" class="btn btn-primary btn-lg">
                Primary Large
            </button>
            <button type="button" class="btn btn-secondary btn-lg">
                Secondary large
            </button>
            <button type="button" class="btn btn-primary btn-sm">
                Small button
            </button>
            <button type="button" class="btn btn-secondary btn-sm">
                Small button
            </button>
        </div>

        <h4 class="h4">Some Buttons with icons</h4>
        <div class="">
            <div class="d-flex button-example">
                <button type="button" class="btn btn-outline-primary">
                    <span class="icon-accuracy"></span> Primary
                </button>
                <button type="button" class="btn btn-outline-secondary">
                    <span class="icon-cloud-architecture"></span>Secondary
                </button>
                <button type="button" class="btn btn-outline-success">
                    <span class="icon-accuracy"></span> Success
                </button>
                <button type="button" class="btn btn-outline-danger">
                    <span class="icon-cloud-architecture"></span> Danger
                </button>
                <button type="button" class="btn btn-outline-warning">
                    <span class="icon-accuracy"></span> Warning
                </button>
                <button type="button" class="btn btn-outline-info">
                    <span class="icon-cloud-architecture"></span> Info
                </button>
                <button type="button" class="btn btn-outline-light">
                    <span class="icon-accuracy"></span> Light
                </button>
                <button type="button" class="btn btn-outline-dark">
                    <span class="icon-cloud-architecture"></span> Dark
                </button>
            </div>
        </div>
    </div>
</div>
