<div id="iconography">
  <div class="infoBlockPiece">
    <div class="jumbotron">
      <h2 class="h2">Iconography</h2>
      <p>
        The icons used in Design System are SVGs because of the improved
        accessibility and vector support of SVG format.
      </p>
      <p>
        All icons can be accessed by using the class prefix <code>icon-</code> for
        example
        <code
          >&lt;span
          class=&quot;icon-reduced-time-to-market&quot;&gt;&lt;/span&gt;</code
        >
      </p>
      <h4>Icon Sets</h4>
      <p>
        Here are some sample icons. The complete list of icons can be found in
        <code>SCSS/Vendors/icomons_styles.scss</code>
      </p>
      <div>
        <div class="highlighted-block">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <!--Action Icons-->
              <h5>Action Icons</h5>
              <ul class="list-inline" style="font-size: 2rem;">
                <li class="list-inline-item">
                  <span class="icon-3d-rotate"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-accessibility"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-accessibility-new"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-accessible"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-account-balance"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-account-wallet"></span>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <h5>Alert Icons</h5>
              <ul class="list-inline" style="font-size: 2rem;">
                <li class="list-inline-item">
                  <span class="icon-error"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-warning-circle"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-bell-info"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-warning"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-info-triangle"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-bell"></span>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <h5>Device Icons</h5>
              <ul class="list-inline" style="font-size: 2rem;">
                <li class="list-inline-item">
                  <span class="icon-alarm"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-alarm-add"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-alarm-off"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-alarm-on"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-all-in-box"></span>
                </li>
                <li class="list-inline-item">
                  <span class="icon-all-out"></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="wrap-collabsible">
            <input id="collapsiblebtnsicons" class="toggle" type="checkbox" />
            <label for="collapsiblebtnsicons" class="lbl-toggle"></label>
            <div class="collapsible-content">
              <div class="content-inner">
                <pre
                  style="font-family: 'Montserrat'; font-size: 12pt;"
                ><span style="color:#808080;">&lt;!--Action Icons--&gt;</span></pre>
                <pre
                  style="font-family: 'Montserrat'; font-size: 12pt;"
                ><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-3d-rotate&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-accessibility&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-accessibility-new&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-accessible&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-account-balance&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-account-wallet&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;</span></pre>

                <pre
                  style="font-family: 'Montserrat'; font-size: 12pt;"
                ><span style="color:#808080;">&lt;!--Alert Icons--&gt;</span></pre>
                <pre
                  style="font-family: 'Montserrat'; font-size: 12pt;"
                ><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-error&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-warning-circle&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-bell-info&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-warning&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-info-triangle&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-bell&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;</span></pre>

                <pre
                  style="font-family: 'Montserrat'; font-size: 12pt;"
                ><span style="color:#808080;">&lt;!--Device Icons--&gt;</span></pre>
                <pre
                  style="font-family: 'Montserrat'; font-size: 12pt;"
                ><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-alarm&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-alarm-add&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-alarm-off&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-alarm-on&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-all-inbox&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;
</span><span style="color:rgb(0,0,128);">&lt;span </span><span style="color:rgb(0,0,255);">class</span><span style="color:rgb(0,128,0);">=&quot;icon-all-out&quot;</span><span style="color:rgb(0,0,128);">&gt;&lt;/span&gt;</span></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
