<div id="ColorPalette" class="my-mid">
    <h3 class="h3">Color Palette</h3>
    <p>a color scheme is the choice of colors used in design for a range of media. For example, the "Achromatic" use of a white background with black text is an example of a basic and commonly default color scheme in web design. Color schemes are used to create style and appeal.</p>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold color-name-title"><strong>Primary</strong>
            <span class="bg-primary"></span>
            </p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col colors__infoLeft">Scss Var:</div>
                    <div class="col-5 colors__infoRight">$primary</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col colors__infoLeft">Text class:</div>
                    <div class="col-5 colors__infoRight text-primary">
                        text-primary
                    </div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col colors__infoLeft">bg class:</div>
                    <div class="col-5 colors__infoRight bg-primary">bg-primary</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold color-name-title"><strong>Secondary</strong>
                <span class="bg-secondary"></span></p>
            <ul class="card_body p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-5">$secondary</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-6 text-secondary">text-secondary</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-6 text-white bg-secondary">bg-secondary</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold color-name-title"><strong>Success</strong>
                <span class="bg-success"></span>
            </p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-5">$success</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-5 text-success">text-success</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-5 text-white bg-success">bg-success</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold color-name-title"><strong>Danger</strong>
                <span class="bg-danger"></span>
            </p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-5">$danger</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-5 text-danger">text-danger</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-5 text-white bg-danger">bg-danger</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold color-name-title"><strong>Warning</strong>
                <span class="bg-warning"></span>
            </p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-5">$warning</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-6 text-warning">text-warning</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-6 bg-warning">bg-warning</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold color-name-title"><strong>Info</strong>
                <span class="bg-info"></span>
            </p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-5">$info</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-5 text-info">text-info</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-5 bg-info">bg-info</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold color-name-title"><strong>Dark</strong>
                <span class="bg-dark"></span>
            </p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-5">$dark</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-5 text-dark">text-dark</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-5 text-white bg-dark">bg-dark</div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <p class="text-body-lg text-bold color-name-title"><strong>Light</strong>
                <span class="bg-light"></span>
            </p>
            <ul class="card_body p-small p-small">
                <li class="row mb-small justify-content-between">
                    <div class="col">Scss Var:</div>
                    <div class="col-5">$light</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">Text class:</div>
                    <div class="col-5 text-light">text-light</div>
                </li>
                <li class="row mb-small justify-content-between">
                    <div class="col">bg class:</div>
                    <div class="col-5 text-white bg-light">bg-light</div>
                </li>
            </ul>
        </div>
    </div>
</div>
