<div class="infoBlockPiece">
  <div class="jumbotron">
    <h2 class="h2">Iconography</h2>
    <p>
      The icons used in Design System are SVGs because of the improved
      accessibility and vector support of SVG format.
    </p>
    <p>
      All icons can be accessed by using class prefix <code>icon-</code> for
      example
      <code
        >&lt;span
        class=&quot;icon-reduced-time-to-market&quot;&gt;&lt;/span&gt;</code
      >
    </p>
    <h5>Icon Sets</h5>
    <p>Here are some sample icons. The complete list of icons can be found in <code>SCSS/Vendors/icomons_styles.scss</code></p>
    <hr>
    <div>
      <div class="highlighted-block">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <h5>Action Icons</h5>
            <ul class="list-inline" style="font-size: 2rem">
              <li class="list-inline-item"><span class="icon-d_rotation_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessibility_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessibility_new_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessible_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessible_forward_24px"></span></li>
              <li class="list-inline-item"><span class="icon-account_balance_24px"></span></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <h5>Action Icons</h5>
            <ul class="list-inline" style="font-size: 2rem">
              <li class="list-inline-item"><span class="icon-d_rotation_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessibility_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessibility_new_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessible_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessible_forward_24px"></span></li>
              <li class="list-inline-item"><span class="icon-account_balance_24px"></span></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <h5>Action Icons</h5>
            <ul class="list-inline" style="font-size: 2rem">
              <li class="list-inline-item"><span class="icon-d_rotation_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessibility_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessibility_new_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessible_24px"></span></li>
              <li class="list-inline-item"><span class="icon-accessible_forward_24px"></span></li>
              <li class="list-inline-item"><span class="icon-account_balance_24px"></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
