<section id="forms_info">
 <h2 class="h2">Forms</h2>

 <form>
  <h5 class="h5 u-mb-small">basic Input form Fields</h5>
  <div class="form-row u-mb-mid">
   <div class="formGroup col-3">
    <label for="formDefault" class="sr-only">Default</label>
    <input
     type="email"
     class="formControl"
     id="formDefault"
     placeholder="Default Input"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailCurved" class="sr-only">Email Curved</label>
    <input
     type="email"
     class="formControl formControl--curved"
     placeholder="Curved Input"
     id="emailCurved"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailRounded" class="sr-only">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--rounded"
     placeholder="Rounded Input"
     id="emailRounded"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailtextONly" class="sr-only">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--textOnly"
     placeholder="Text Input"
     id="emailtextONly"
     aria-describedby="emailHelp"
    />
   </div>
  </div>

  <!--Input form Fields with labels-->
  <h5 class="h5 u-mb-small">Input form Fields With labels</h5>
  <div class="form-row u-mb-mid">
   <div class="formGroup col-3">
    <label for="formDefault1" class="">Default</label>
    <input
     type="email"
     class="formControl"
     id="formDefault1"
     placeholder="Default Input"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailCurved1" class="">Email Curved</label>
    <input
     type="email"
     class="formControl formControl--curved"
     placeholder="Curved Input"
     id="emailCurved1"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailRounded1" class="">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--rounded"
     placeholder="Rounded Input"
     id="emailRounded1"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailtextONl1" class="">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--textOnly"
     placeholder="Text Input"
     id="emailtextONl1"
     aria-describedby="emailHelp"
    />
   </div>
  </div>

  <!--Input form Fields with backgrounds-->
  <h5 class="h5 u-mb-small">Input form Fields With backgrounds</h5>
  <div class="form-row u-mb-mid">
   <div class="formGroup col-3">
    <label for="formDefault2" class="sr-only">Default</label>
    <input
     type="email"
     class="formControl formControl--bg"
     id="formDefault2"
     placeholder="Default Input"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailCurved2" class="sr-only">Email Curved</label>
    <input
     type="email"
     class="formControl formControl--curved formControl--bg"
     placeholder="Curved Input"
     id="emailCurved2"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailRounded2" class="sr-only">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--rounded formControl--bg"
     placeholder="Rounded Input"
     id="emailRounded2"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailtextONl2" class="sr-only">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--textOnly formControl--bg"
     placeholder="Text Input"
     id="emailtextONl2"
     aria-describedby="emailHelp"
    />
   </div>
  </div>

  <!--Check Boxes-->
  <h5 class="h5 u-mb-small">CheckBoxs with Variations</h5>
  <div class="form-row u-mb-mid">
   <div class="formCheck col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox1" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox1">label</label>
   </div>

   <div class="formCheck col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox2" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox2">label</label>
   </div>

   <div class="formCheck col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox3" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox3">label</label>
   </div>
   <!--BG class-->
   <div class="formCheck col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox4" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox4">label</label>
   </div>

   <div class="formCheck col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox5" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox5">label</label>
   </div>

   <div class="formCheck col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox6" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox6">label</label>
   </div>

   <!--Error class-->
   <div class="formCheck col-1 formCheck__error">
    <div class="checkBox">
     <input type="checkbox" id="checkbox8" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox8">label</label>
   </div>

   <div class="formCheck formCheck__error col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox9" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox9">label</label>
   </div>

   <div class="formCheck formCheck__error col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox7" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox7">Danger</label>
   </div>

   <div class="formCheck col-1 formCheck__error">
    <div class="checkBox">
     <input type="checkbox" id="checkbox89" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox89">label</label>
   </div>

   <div class="formCheck formCheck__error col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox99" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox99">label</label>
   </div>

   <div class="formCheck formCheck__error col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox79" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel sr-only" for="checkbox79">Danger</label>
   </div>
  </div>

  <!--Check Boxes With labes-->
  <h5 class="h5 u-mb-small">CheckBoxs with Labels & Variations</h5>
  <div class="form-row u-mb-mid">
   <div class="formCheck col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox12" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel" for="checkbox12">label</label>
   </div>

   <div class="formCheck col-1">
    <div class="checkBox checkBox--curved">
     <input type="checkbox" id="checkbox23" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel" for="checkbox23">label</label>
   </div>

   <div class="formCheck col-1">
    <div class="checkBox checkBox--rounded">
     <input type="checkbox" id="checkbox32" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel" for="checkbox32">label</label>
   </div>
   <!--BG class-->
   <div class="formCheck col-1">
    <div class="checkBox checkBox__bg">
     <input type="checkbox" id="checkbox42" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel" for="checkbox42">label</label>
   </div>

   <div class="formCheck col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox52" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel" for="checkbox52">label</label>
   </div>

   <div class="formCheck col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox62" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel" for="checkbox62">label</label>
   </div>

   <!--Error class-->
   <div class="formCheck col-1 formCheck__error">
    <div class="checkBox">
     <input type="checkbox" id="checkbox82" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel" for="checkbox82">Danger</label>
   </div>

   <div class="formCheck formCheck__error col-1">
    <div class="checkBox">
     <input type="checkbox" id="checkbox92" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel" for="checkbox92">Danger</label>
   </div>

   <div class="formCheck formCheck__error col-1 disabled">
    <div class="checkBox">
     <input type="checkbox" id="checkbox72" />
     <span class="checkboxFake"></span>
    </div>
    <label class="checkLabel" for="checkbox72">Danger</label>
   </div>
  </div>
 </form>
</section>
