<section id="forms_info">
 <h2 class="h2">Forms</h2>

 <form>
  <h5 class="h5 u-mb-small">basic Input form Fields</h5>
  <div class="form-row u-mb-mid">
   <div class="formGroup col-3">
    <label for="formDefault" class="sr-only">Default</label>
    <input
     type="email"
     class="formControl"
     id="formDefault"
     placeholder="Default Input"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailCurved" class="sr-only">Email Curved</label>
    <input
     type="email"
     class="formControl formControl--curved"
     placeholder="Curved Input"
     id="emailCurved"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailRounded" class="sr-only">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--rounded"
     placeholder="Rounded Input"
     id="emailRounded"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailtextONly" class="sr-only">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--textOnly"
     placeholder="Text Input"
     id="emailtextONly"
     aria-describedby="emailHelp"
    />
   </div>
  </div>

  <!--Input form Fields with labels-->
  <h5 class="h5 u-mb-small">Input form Fields With labels</h5>
  <div class="form-row u-mb-mid">
   <div class="formGroup col-3">
    <label for="formDefault1" class="">Default</label>
    <input
     type="email"
     class="formControl"
     id="formDefault1"
     placeholder="Default Input"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailCurved1" class="">Email Curved</label>
    <input
     type="email"
     class="formControl formControl--curved"
     placeholder="Curved Input"
     id="emailCurved1"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailRounded1" class="">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--rounded"
     placeholder="Rounded Input"
     id="emailRounded1"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailtextONl1" class="">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--textOnly"
     placeholder="Text Input"
     id="emailtextONl1"
     aria-describedby="emailHelp"
    />
   </div>
  </div>

  <!--Input form Fields with backgrounds-->
  <h5 class="h5 u-mb-small">Input form Fields With backgrounds</h5>
  <div class="form-row u-mb-mid">
   <div class="formGroup col-3">
    <label for="formDefault2" class="sr-only">Default</label>
    <input
     type="email"
     class="formControl formControl--bg"
     id="formDefault2"
     placeholder="Default Input"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailCurved2" class="sr-only">Email Curved</label>
    <input
     type="email"
     class="formControl formControl--curved formControl--bg"
     placeholder="Curved Input"
     id="emailCurved2"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailRounded2" class="sr-only">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--rounded formControl--bg"
     placeholder="Rounded Input"
     id="emailRounded2"
     aria-describedby="emailHelp"
    />
   </div>

   <div class="formGroup col-3">
    <label for="emailtextONl2" class="sr-only">Email Rounded</label>
    <input
     type="email"
     class="formControl formControl--textOnly formControl--bg"
     placeholder="Text Input"
     id="emailtextONl2"
     aria-describedby="emailHelp"
    />
   </div>
  </div>
 </form>
</section>
