<div class="sidebar">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a href="#ColorPalette">
          <i class="icon-scalable"></i>
          <p>ColorPlatte</p>
        </a>
      </li>
      <li>
        <a href="#typography">
          <i class="icon-tter-design-solution-through-collaboration"></i>
          <p>Typography</p>
        </a>
      </li>
      <li>
        <a href="#buttons_info">
          <i class="icon-he-right-problem"></i>
          <p>Buttons</p>
        </a>
      </li>
      <li>
        <a href="#iconography">
          <i class="icon-framework--test-development"></i>
          <p>Iconography</p>
        </a>
      </li>

      <!--<li>-->
      <!--<a href="#cards_sections">-->
      <!--<i class="icon-ncreased-agility"></i>-->
      <!--<p>Cards</p>-->
      <!--</a>-->
      <!--</li>-->
      <li>
        <a href="#">
          <i class="icon-tools--technology-integration"></i>
          <p>Table List</p>
        </a>
      </li>
      <li>
        <a href="#grid">
          <i class="icon-ve-test-automation"></i>
          <p>Grid</p>
        </a>
      </li>

      <li class="active-pro">
        <a href="">
          <i class="icon-ty-on-demand"></i>
          <p>Forms</p>
        </a>
      </li>
    </ul>
  </div>
</div>
